{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="{% static 'student/css/index.css' %}" > {% endcomment %}
    <title>Student info</title>
  </head>

  <body>

       <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/profile">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/teacher/profile">Teacher</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



    <h1>Student profile....</h1>
    <img src="{% static 'student/images/image.png' %}" alt="">
    <p>Name: {{name}}</p>
    <p>Age: {{age}}</p>
    {% if age > 20 %}
    <h2>You are Adult</h2>
    {% else %}
    <h2>You are child</h2>
    {% endif %}

    <table border="1">
      <tr>
        <th>Id</th>
        <th>Subject</th>
        <th>Mark</th>
        <th>Grad</th>
      </tr>

      {% for subject in marks %}
      <tr>
        <td>{{subject.id}}</td>
        <td>{{subject.subject}}</td>
        <td>{{subject.mark}}</td>
        <td>
          {% if subject.mark >= 90 %} A+ {% elif subject.mark >= 80 %} B 
          {% elif subject.mark >= 70 %} c {% elif subject.mark >= 60 %} D
          {% else %} F {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>


    <table class="table table-striped">
      <thead>
        <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Roll</th>
    <th>Age</th>
    <th>Action</th>
  </tr>
      </thead>

      <tbody>
        {% for student in student_data %}
  <tr>
    <td>{{ student.id }}</td>
    <td>{{ student.name }}</td>
  <td>{{ student.roll }}</td>
  <td>{{ student.age }}</td>
  <td> <a class="btn btn-danger btn-sm" href="{% url 'delete_student' student.id %}">Delete</a> </td>
  </tr>
  {% endfor %}
      </tbody>
</table>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
